parameters:
	level: 6
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
	excludePaths:
		- plugins/exception-render/src/OpenApiExceptionSchema.php
